@import '../../../styles/variables.scss';

.navItem {
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: $color-grey-light;
  cursor: pointer;

  &::after {
    display: none;
    content: '';
    width: 75%;
    height: 1.5px;
    background-color: $color-black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
  }

  &:not(:last-of-type) {
    margin-right: 5rem;
  }

  &:hover {
    color: $color-black;

    &::after {
      display: block;
    }
  }
}

.active {
  color: $color-black;
  position: relative;

  &::after {
    display: unset;
  }
}
