@import '.././../../styles/variables.scss';

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0 $spacing-md $spacing-xl;
}

.one,
.two,
.three {
    width: 100%;
}