.btn {
    font-family: 'Source Sans Pro';
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1.5rem 2.5rem;
    margin-top: 5rem;
    border: 2px solid #3E3E3E;
    border-radius: 50px;
}

.btnSecondary:hover {
    color: #969696;
}

.btnPrimary {
    background-color: #3E3E3E;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #3e3e3e;
        border: 2px solid #fff;
    }
}