@import '../../../styles/variables.scss';

.footer {
  background-color: $color-black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;
  padding: 0 $spacing-md $spacing-md;
}

.list {
  list-style: none;
}

.listItem {
  background: url('../../../public/arrow.svg') left center no-repeat;
  padding-left: $spacing-sm;
  margin-bottom: $spacing-xs;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-xs;
}

.footerBottom {
  background-color: rgba($color-black, 0.98);
  grid-column: 1 / 5;
  text-align: center;
}
