@import '../../../styles/variables.scss';

.topxs{
    padding-top: $spacing-xs;
}
.topsm{
    padding-top: $spacing-sm;
}
.topmd{
    padding-top: $spacing-md;
}
.toplg{
    padding-top: $spacing-lg;
}
.topxl{
    padding-top: $spacing-xl;
}

.rightxs{
    padding-right: $spacing-xs;
}
.rightsm{
    padding-right: $spacing-sm;
}
.rightmd{
    padding-right: $spacing-md;
}
.rightlg{
    padding-right: $spacing-lg;
}
.rightxl{
    padding-right: $spacing-xl;
}

.bottomxs{
    padding-bottom: $spacing-xs;
}
.bottomsm{
    padding-bottom: $spacing-sm;
}
.bottommd{
    padding-bottom: $spacing-md;
}
.bottomlg{
    padding-bottom: $spacing-lg;
}
.bottomxl{
    padding-bottom: $spacing-xl;
}

.leftxs{
    padding-left: $spacing-xs;
}
.leftsm{
    padding-left: $spacing-sm;
}
.leftmd{
    padding-left: $spacing-md;
}
.leftlg{
    padding-left: $spacing-lg;
}
.leftxl{
    padding-left: $spacing-xl;
}

.verticalxs{
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;

}
.verticalsm{
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;

}
.verticalmd{
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

}
.verticallg{
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;

}
.verticalxl{
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
}


.horizontalxs{
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
}
.horizontalsm{
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
}
.horizontalmd{
    padding-left: $spacing-md;
    padding-right: $spacing-md;

}
.horizontallg{
    padding-left: $spacing-lg;
    padding-right: $spacing-lg;

}
.horizontalxl{
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
}

.inline {
    display: inline;
}