.hero {
    position: relative;
    width: 100vw;
    height: 110vh;
}

.grid {
    display: grid;
    margin: 0 6rem;
    grid-template-columns: 40% 60%;
}

.text {
    margin-top: 10rem;

    grid-column: 2;
}

.heroTitle {
    font-family: 'Source Sans Pro', sans-serif;
}

span.heroTitle {
    font-size: 5rem;
    font-weight: 200;
}

h1.heroTitle {
    margin-bottom: 2rem;

    font-size: 8.8rem;
    color: #3e3e3e;
}

.heroText {
    font-size: 1.4rem;
    color: #626262;
    line-height: 30px;
}