$font-primary: 'Lora', serif;
$font-secondary: 'Source Sans Pro', sans-serif;
$font-tertiary: 'Fira Sans', sans-serif;

$color-primary: #533a7b;
$color-black: #2d2d2d;
$color-grey-dark: #3e3e3e;
$color-grey: #626262;
$color-grey-light: #969696;
$color-off-white: #efefef;
$color-white: #fff;

$font-size-default: 62.5%;
$font-size-xxl: 8.8rem;
$font-size-xl: 4.8rem;
$font-size-lg: 3.8rem;
$font-size-footTitle: 2.2rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.4rem;

$font-weight-semibold: 600;
$font-weight-regular: 500;
$font-weight-extralight: 200;

$spacing-xl: 12rem;
$spacing-lg: 10rem;
$spacing-md: 6rem;
$spacing-sm: 2rem;
$spacing-xs: 1rem;
