$font-body: 'Lora', serif;
$font-heading: 'Source Sans Pro', sans-serif;
$font-subheading: 'Fira Sans', sans-serif;

$color-black-dark: #2D2D2D;
$color-grey-dark: #3E3E3E;
$color-grey: #626262;
$color-grey-light: #969696;

$font-size-default: 62.5%;
$font-size-body: 1.4rem;