@import '../../../styles/variables.scss';

.filter {
  list-style: none;
  display: flex;
  justify-content: center;

  &Item {
    font-size: $font-size-sm;
    color: $color-grey-light;
    cursor: pointer;
    transition: all 0.25s;
    position: relative;
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin-right: $spacing-md;

      &:after {
        position: absolute;
        content: '/';
        right: -30px;
        color: $color-grey-light;
      }
    }

    &:hover {
      color: $color-grey;

      &::after {
        color: $color-grey-light;
      }
    }
  }
}

.isActive {
  color: $color-black;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
  display: block;
  padding: 7.5px;
  object-fit: contain;
}
