@import '../../../styles/variables.scss';

.heroTitle,
.heroSpan {
    font-family: $font-secondary;
}

.heroSpan {
    font-size: $font-size-xl;
    font-weight: $font-weight-extralight;
}

.heroTitle {
    margin-bottom: $spacing-sm;

    font-size: $font-size-xxl;
    color: $color-grey-dark;
}

.heroText {
    font-size: $font-size-md;
    color: $color-grey;
    line-height: 30px;
}

.bannerTitle {
    font-family: $font-tertiary;
    font-size: 2rem;
    font-weight: 400;
    color: #383838;

}

.body {
    font-size: $font-size-sm;
    color: $color-grey;
    line-height: 30px;
}

.sectionTitle {
    font-family: $font-tertiary;
    font-size: $font-size-lg;
}